.schedule-day {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  //  min-width: 350px;
  min-height: 500px;
  padding: 16px;
  border-radius: var(--border-radius-s);
  background-color: var(--color-soft-white);


  &::after {
    content: "";
    position: absolute;
    width: 220px;
    height: 15px;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    background-image: url("@/assets/icons/ornament4-big.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    @include mobile-s {
      width: 180px;
    }
  }

  //

  @include tablet-small {
    width: fluid(400, 300);
    margin: 0 auto;
  }


  &__header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-bottom: fluid(45, 20);


  }

  &__weekday {
    font-size: 1.5rem;
  }

  &__date {
    position: relative;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-gold);
  }

  &__services {
    display: flex;
    flex-direction: column;
    row-gap: fluid(16, 10);
  }

  &--today {
    border: var(--border-width-s) solid red;
  }
}