.slider-navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--pagination-bottom {
    flex-wrap: wrap;


    .slider-navigation__pagination {
      //      position: absolute;
      //      left: 50%;
      //      transform: translateX(-50%);
      //      bottom: -275px;
      //      //      margin-top: 50px;
      //      padding-block: 10px;

      @include desktop {

      }
    }
  }

  &--pagination-between {

    .slider-navigation__pagination {
      flex: 1;
      justify-content: center;
    }

  }


  &__pagination {
    display: flex;
    align-items: center;
    justify-content: center;


    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      margin: 0 5px;

      border-radius: 50%;
      border: 1px solid var(--color-burgundy);

      background: transparent;
      opacity: 1;


      &-active {
        background: var(--color-burgundy);
      }
    }
  }
}