.zapiska-form {
  padding-block: 130px;

  &__grid {
    display: grid;
    grid-template-columns: 2fr minmax(350px, 1fr);
    column-gap: 16px;
    @include laptop-above {
      grid-template-columns: 3fr 1fr;
    }
    @include tablet {
      grid-template-columns: 1fr;
      row-gap: 16px;
    }


  }

  &__fields {
    display: flex;
    flex-direction: column;

    row-gap: 30px;
    background-color: var(--color-soft-white);
    padding-block: 30px;
    padding-inline: fluid(30, 20);
    border: 1px solid var(--color-burgundy);
    border-radius: var(--border-radius-l);
  }

  &__cards-grid {
    display: grid;

    //    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: fluid(16, 7);
    align-self: stretch;
    align-items: stretch;
    justify-content: stretch;

    //    > *:nth-child(3){
    //      gc
    //    }


    @include laptop {
      grid-template-columns: repeat(6, 1fr);
      row-gap: 16px;
      > *:nth-child(1) {
        grid-column: 1 / span 2;
      }

      > *:nth-child(2) {
        grid-column: 3 / span 2;
      }

      > *:nth-child(3) {
        grid-column: 5 / span 2;
      }

      // нижний ряд
      > *:nth-child(4) {
        grid-column: 2 / span 2;
      }

      > *:nth-child(5) {
        grid-column: 4/ span 2;
      }
    }
  }

  .form-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    //    flex: 1;
    align-items: flex-start;
    row-gap: 10px;

    &__title {
      font-size: fluid(20, 16);
      font-weight: 700;
      color: var(--color-burgundy);
    }

    .date-input {
      width: 100%;
      max-width: 280px;
      border-radius: var(--border-radius-m);
      color: var(--color-apostolic-red);
      border: 1px solid var(--color-apostolic-red);
      padding: 5px;
      font-size: 16px;

      &:focus {
        outline: none;
        border-color: var(--color-burgundy);
        box-shadow: 0 0 0 2px rgba(139, 69, 19, 0.1);
      }


      &::-webkit-datetime-edit {
        color: var(--color-late-gray-b);

      }

      &::-webkit-datetime-edit-fields-wrapper {
        color: var(--color-burgundy);
      }

      &::-webkit-datetime-edit-text {
        color: var(--color-late-gray);
        margin: 0 2px;
      }

      &::-webkit-datetime-edit-month-field {
        color: var(--color-burgundy);
      }

      &::-webkit-datetime-edit-day-field {
        color: var(--color-burgundy);
      }

      &::-webkit-datetime-edit-year-field {
        color: var(--color-burgundy);
      }

      &::-webkit-calendar-picker-indicator {
        cursor: pointer;
        filter: invert(0.3);
        color: var(--color-burgundy);
        background: url('@/assets/icons/calendar.svg') no-repeat center;
        background-size: 20px;
        opacity: 1;

        @include hover {
          opacity: 0.6;

        }
      }


    }

    .form-hint {
      font-size: 15px;
      font-weight: 400;
      color: var(--color-late-gray-d);
      transition: filter 0.2s ease;
    }

    .names-input {
      display: flex;
      justify-content: space-between;
      gap: 16px;
      align-items: center;
      width: 100%;
      flex-wrap: wrap;

      input {
        flex: 1;
        min-width: 200px;
        padding-block: 12px;
        padding-inline: 16px;
        border-radius: var(--border-radius-s);
        border: 1px solid var(--color-apostolic-red);
        font-family: inherit;
        font-size: 16px;
        transition: all 0.2s ease;

        &:focus {
          outline: none;
          border-color: var(--color-burgundy);
          box-shadow: 0 0 0 2px rgba(139, 69, 19, 0.1);
        }

        &::placeholder {
          color: var(--color-late-gray-d);
          font-size: 15px;
        }
      }

      &__button {
        padding-block: 12px;
        padding-inline: 16px;

        border-radius: var(--border-radius-s);
        color: var(--color-burgundy);
        border: 1px solid var(--color-burgundy);
        box-shadow: none;
        text-shadow: none;

        @include hover {
          background-color: var(--color-burgundy);
          color: var(--color-bg-main);
        }
      }
    }

    .names-list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;


      width: 100%;
      max-width: 280px;

      &--has-items {
        padding-inline: fluid(30, 20);
        padding-block: 16px;
        border: 1px solid var(--color-apostolic-red);
        border-radius: var(--border-radius-s);
        background-color: var(--color-main-white);
      }


      &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: fluid(16, 10px);
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: var(--color-burgundy);
        gap: 16px;
        background-color: var(--color-main-white);

      }

      &__delete-icon {
        padding: 5px;
        border: 1px solid var(--color-burgundy);
        border-radius: var(--border-radius-s);
        background-color: var(--color-main-white);

        @include hover {
          background-color: var(--color-burgundy);
        }
      }

      .delete-icon {
        width: 15px;
        height: 15px;
      }

      &__empty {
        font-size: 15px;
        font-weight: 400;
        color: var(--color-late-gray-d);
      }
    }

    .notes-input {
      width: 100%;
      padding-block: 12px;
      padding-inline: 10px;
      border-radius: var(--border-radius-s);
      border: 1px solid var(--color-burgundy);
      font-family: inherit;
      font-size: 15px;
      resize: vertical;
      transition: all 0.2s ease;


      &:focus {
        outline: none;
        border-color: var(--color-burgundy);
        box-shadow: 0 0 0 2px rgba(139, 69, 19, 0.1);
      }
    }
  }

  &__summary {
    //    padding-block: 30px;
  }

  .order-summary {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    background-color: var(--color-soft-white);
    padding-block: 30px;
    padding-inline: fluid(20, 12);
    border: 1px solid var(--color-burgundy);
    border-radius: var(--border-radius-l);

    &__title {
      font-size: fluid(20, 16);
      font-weight: 700;
      color: var(--color-burgundy);
    }

    &__row {
      display: flex;
      flex-direction: column;

    }

    &__subtitle {
      color: var(--color-burgundy);
      font-weight: 500;
    }

    &__data {
      padding-block: fluid(16, 10);
      padding-inline: fluid(14, 10);
      font-weight: 600;
      border-radius: var(--border-radius-s);
      background-color: var(--color-green);
      border: 1px solid var(--color-green-darker);


      &--empty {
        background-color: var(--color-pink);
        color: var(--color-burgundy);
        font-weight: 800;
        border: 1px solid var(--color-pink-darker);
      }
    }

    .summary-input {
      flex: 1;
      min-width: 200px;
      padding-block: 12px;
      padding-inline: 16px;
      border-radius: var(--border-radius-s);
      border: 1px solid var(--color-apostolic-red);
      font-family: inherit;
      font-size: 16px;
      transition: all 0.2s ease;


      &:focus {
        outline: none;
        border-color: var(--color-burgundy);
        box-shadow: 0 0 0 2px rgba(139, 69, 19, 0.1);
      }
    }
  }

  &__submit-button {
    padding-block: 12px;
    padding-inline: 16px;

    border-radius: var(--border-radius-s);
    background-color: var(--color-burgundy);
    color: var(--color-bg-main);
    border: 1px solid var(--color-burgundy);
    box-shadow: none;
    text-shadow: none;
    gap: 12px;


    .icon {
      width: 24px;
      height: 24px;
      transition-duration: var(--transition-duration);
      @include hover {

      }
    }

    @include hover {

      background-color: var(--color-burgundy);

      .icon {
        transform: translateX(4px);
        transition-duration: var(--transition-duration);
      }

    }

  }

  .security-note {
    position: relative;
    padding-left: 25px;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-late-gray-d);
    align-self: center;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 16px;
      height: 16px;
      background-image: url("@/assets/icons/loack-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

    }
  }

  .custom-select {
    position: relative;
    width: 100%;


    &__trigger {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      font-weight: 400;
      font-size: 16px;
      border: 1px solid var(--color-burgundy);
      border-radius: var(--border-radius-m);
      transition: var(--transition-duration);


    }

    &__option {
      padding: 4px 0;
      cursor: pointer;

      width: 100%;

      @include hover {
        color: var(--color-apostolic-red);
      }
    }

    &__value {

      flex: 1;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &__dropdown {
      position: absolute;
      top: calc(100% + 4px);
      left: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-block: 5px;
      padding-inline: 10px;
      font-weight: 500;
      font-size: 16px;
      gap: 10px;
      color: var(--color-burgundy);

      background: var(--color-soft-white);
      border: 1px solid var(--color-burgundy);
      border-radius: var(--border-radius-m);
      z-index: 20;
      //      text-decoration: underline;
      //      text-underline-offset: 3px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    }

    &__arrow {
      transition: var(--transition-duration);

      .icon {
        width: 13px;
        height: 13px;
        color: var(--color-burgundy);
        rotate: 90deg;
      }

      &.open {
        transform: rotate(180deg);
        transition: var(--transition-duration);

      }
    }
  }

}