.calendar-day {
  --borderCalendarSunday: 1px solid var(--color-sunday-red);
  --borderCalendarNormalDay: 1px solid var(--color-late-gray-b);

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  gap: 16px;

  min-height: fluid(80, 40);
  min-width: fluid(80, 40);

  padding: 7px;

  background: var(--color-bg-main);
  border-radius: 5px;
  border: var(--borderCalendarNormalDay);
  text-align: left;
  cursor: pointer;
  transition: background-color 0.2s ease,
  border-color 0.2s ease;

  @include laptop {
    align-items: center;
  }

  //  @include laptop-above {
  //    min-height: 130px;
  //
  //  }

  @include tablet-small {
    min-height: 40px;
    height: 40px;
    min-width: 35px;
    align-items: center;
  }

  &:not(.is-sanday) {

    //    border-top: var(--borderCalendarNormalDay);
    //    border-bottom: var(--borderCalendarNormalDay);
    //    border-left: var(--borderCalendarNormalDay);
    //    border-right: var(--borderCalendarNormalDay);


    .feast-name {
      text-shadow: none;
    }
  }


  @include hover {
    border-color: var(--color-gold);
    background-color: var(--color-soft-gold);
    color: inherit;
  }

  &:focus {
    background-color: var(--color-soft-gold);
  }

  &.other-month {
    opacity: 0.4;

  }

  &.is-selected {
    z-index: 2;

    background-color: rgba(201, 161, 93, 0.06);
    border-top: var(--borderCalendar);
    border-bottom: var(--borderCalendar);
    border-left: var(--borderCalendar);
    border-right: var(--borderCalendar);
    box-shadow: inset 0 0 0 1px var(--color-gold);
  }

  &.is-sunday {
    border-color: var(--color-sunday-red);

    .calendar-day__number {;
      font-size: 1rem;
      font-weight: 700;
      color: var(--color-apostolic-red-dark);
    }


  }


  &.is-saturday {
    //    border-right: none;
  }


  &__number {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-late-gray);
  }

  &__feast-name {
    font-size: 0.82rem;
    line-height: 1.45;
    color: var(--color-sunday-red);
    margin-bottom: auto;
    display: -webkit-box;

    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;

  }


  &:not(.is-sunday) {
    .calendar-day__feast-name {
      text-shadow: none;
      color: var(--color-late-gray-a);
    }

  }
}