.button {
  @include flex-center(true);

  padding: fluid-to-laptop(14, 10) fluid-to-laptop(24, 20);
  font-weight: 600; /*600*/


  color: var(--color-apostolic-red-light);
  background-color: var(--color-soft-white);
  border: 1px solid var(--color-apostolic-red-light);
  border-radius: var(--border-radius-l);
  user-select: none;
  cursor: pointer;
  text-shadow: 0 4px 40px var(--color-apostolic-red-dark);


  @include hover {
    background-color: var(--color-apostolic-red-light);
    color: var(--color-soft-white);
    border: 1px solid var(--color-apostolic-red-light);
    box-shadow: 0 5px 15px rgba(197, 160, 89, 0.3);
    text-shadow: 0 4px 20px var(--color-white);
    transition-duration: var(--transition-duration);
  }

  &:active {
    scale: 1.05;
  }

  &:disabled {
    color: var(--color-black);
    background-color: var(--color-late-gray);
    pointer-events: none;
  }

  &:has(.button__icon:only-child) {
    padding: 0;
  }


  &--transparent {
    background-color: transparent;
  }

  &--accent {
    //    background-color: var(--color-apostolic-red-light);
  }

  &--link {
    background-color: transparent;
    font-weight: 500;

    @include hover {
      background-color: transparent;
      color: var(--color-apostolic-red-light);
      text-decoration: underline;
      text-decoration-color: var(--color-apostolic-red-light);

      text-underline-offset: 4px;
      box-shadow: none;

      svg {
        transform: translateX(4px);
      }
    }

    svg {
      transition: transform 0.3s ease;
    }


  }

  &:has(.button__icon:only-child) {
    @include square(44px);

    .button__icon {
      --iconSize: #{fluid-to-laptop(34,24)};
    }
  }


}