.service-item {
  padding: fluid-to-laptop(22, 18);
  border: var(--border-width-m) solid var(--color-grey);
  border-radius: var(--border-radius-l);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  background-color: var(--color-soft-white);

  @include mobile-s-above {

    max-width: 550px;
    width: 100%;
    justify-self: center;

    &:last-child {
      @include desktop {
        grid-column: 1 / -1;
        justify-self: center;
      }

    }

  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 16px;
    border-radius: 50%;
    background-color: var(--color-sand);
    border: 1px solid var(--color-apostolic-red);
  }

  &__image {
    width: 90px;
    height: 90px;

  }

  &__title {
    font-size: 1.5rem;
    padding-top: fluid-to-laptop(22, 18);

    @include mobile-s-above {
      font-size: 2rem;
    }

  }

  &__header {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    padding-inline: fluid-to-laptop(22, 18);
    gap: 16px;
  }

  &__description {

    @include mobile-s-above {
      font-size: 1.1rem;
    }
    padding-bottom: fluid-to-laptop(22, 18);

  }

  &__button {
    background-color: var(--color-apostolic-red-light);
    color: var(--color-soft-white);
    text-shadow: 0 4px 20px var(--color-white);

    font-size: 1.2rem;

    @include hover {
      background-color: var(--color-soft-white);
      color: var(--color-apostolic-red-light);
      text-shadow: 0 4px 40px var(--color-apostolic-red-dark);
    }

    @include tablet-above {
      width: 60%;
    }


    @include mobile-s {
      text-align: center;
      min-width: 80%;
      width: 70%;
      padding-inline: 0;
    }

    @include mobile-s {
      width: fit-content;
    }

  }

  &__link {
    padding-top: fluid-to-laptop(25, 20);
    gap: 12px;
    margin-top: auto;
    text-shadow: none;

    color: var(--color-apostolic-red-light);
    border: none;

    &:hover {
      border: none;
    }

    @include mobile-s-above {
      font-size: 1.1rem;
    }
  }

}