.schedule-item {
  display: flex;
  flex-direction: column;
  column-gap: fluid(25, 16);
  gap: 4px;
  align-items: baseline;
  border-bottom: var(--border);

  @include desktop-above {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    column-gap: fluid(25, 16);
    border-bottom: none;
  }


  &__title, &__time {
    line-height: 1.2;
  }

  &__title {
    flex: 1 1 auto;
    text-align: left;
    font-size: 1.4rem;
    min-width: 200px;
    padding-left: 1.5rem;
  }

  &__time {
    font-weight: 400;
    flex: 0 0 auto;
    font-size: 1.2rem;
  }
}