.calendar-grid-wrapper {
  overflow-x: auto;
  padding: fluid-to-laptop(12, 8);
  background: var(--color-bg-main);


}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  border: none;
  overflow: hidden;

  @include laptop {
    grid-auto-rows: minmax(50px, auto); // ← все строки одинаковой высоты

  }

  @include tablet-small {
    grid-auto-rows: auto;
    //    gap: 2px;
  }


}